<!-- <div class="question-container">
  <h2>Select Your Preferences</h2>
  
  <div *ngFor="let question of questions; let i=index;">
    <p><strong>{{ question }}</strong></p>
  
    <div class="options">
      <label>
        <input type="radio" name="{{ question }}" [(ngModel)]="answers[i]" value="Yes"> Yes
      </label>
      <label>
        <input type="radio" name="{{ question }}" [(ngModel)]="answers[i]" value="No"> No
      </label>
    </div>
  </div>
  
  <button class="submit-btn" (click)="submitAnswers()">Submit</button>
  </div>
   -->