
<h1>Welcome Admin</h1>
<img src="/assets/Admin.jpg">
<div class="container">
    <h2>DreamPath Guidance Admin Panel</h2>
    <p>
        Guide students with personalized career insights, expert mentorship, and real-time job opportunities.  
        Enhance decision-making with advanced tools and resources tailored for career success.
    </p>
    
    <div class="features">
        <ul>
            <li>💡 AI-powered personal career assessment</li>
            <li>🤖 Instant chatbot support for career queries</li>
            <li>📚 Comprehensive courses for skill development</li>
            <li>📢 Job and internship postings for diverse industries</li>
        </ul>
    </div>

    <button class="btn" (click)="navigatetoAdmin()">Get Started</button>

</div>
