<div class="search-container">
  <input type="text" [(ngModel)]="searchQuery" (ngModelChange)="searchCourses()" placeholder="Search courses..." class="search-bar">
</div>

<div class="courses-container">
  <div class="course-card" *ngFor="let course of filteredStreams">
    <img [src]="course.data.imageUrl ?? course.data.imageurl" alt="Course Image" class="course-image" />
    <div class="course-details">
      <h3>{{ course.data.stream_Name ?? course.data.substream_Name }}</h3>
      <p>{{ course.data.description ?? course.data.description}}</p>

      <ng-container *ngFor="let category of courseCategories">
        <button *ngIf="course.data?.stream_Name?.toLowerCase().includes(category.key) ?? course.data?.substream_Name.toLowerCase().includes(category.key)"
                class="btn"
                (click)="navigateTo(course._id)">
          {{ category.label }}
        </button>
      </ng-container>
    </div>
  </div>
</div>
