<app-navbarcomponent *ngIf="!showNavbar"></app-navbarcomponent>

<div class="main-container">
  <div class="side-container">
    <div class="chatbot-container">
      <div class="chatbotlogo">
        <!-- The chatbot container is displayed if routeval is true -->
        <div class="chatbotext" *ngIf="routeVal">
          <div class="chat-container">
            <div class="chat-box">
              <!-- Include your chatbot module here -->
              <app-chatbotmodule style="width: 350px;"></app-chatbotmodule>
            </div>
          </div>
        </div>
        <!-- Image that triggers the route function on click -->
        <img src="assets/Animation - 1737704467019.gif" (click)="route()" alt="Chatbotlogo">
      </div>
    </div>
  </div>
</div>
  <router-outlet></router-outlet>

